@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
 /* First defined css styling  */
 :root {
    --dark-hover-blue : #003380 ;
    --dark-blue : #373e48;
    --darker-blue :#1c1f24;
    --button-blue : #0044aa;
    --button-yellow : #ffcc00;
    --redish-orange : #ff6600;
    --soft-brownish-orange : #c87137;
    --sharp-yellow : #ffcc00 ; 
    --lightsoft-blue : #535d6c ; 
    --darken-yellow : #d4aa00;
    --dark-floor-orange : #6c6753;
    --grey : #e6e6e6;
    --after-grey : #999999;
    --blish-grey-button : #373e48;
    --mecha-blue : #2c5aa0ff ; 
}

body {
    margin: 0;
    background-color: var(--grey);
}

* { 
    font-family: "Comfortaa" , sans-serif;
 }

/* Global Card Area  */

.card > * {
    margin: 10px;
}
.card {
    
    justify-content: space-between;
    margin: 100px;
    background-color: white;
    border-radius: 20px;
    font-family: "Comfortaa" , sans-serif;
    display : flex ;
    justify-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 25px;
    padding-bottom: 25px;
}
@media screen and (max-width : 720px) {

    .card {
     flex-direction: column;

    }
    
}

.card-header {
    margin: auto;
    padding: 30px;
}

/* Card button Area */


.card-button {
    margin : 10px ; 
    padding : 10px  
}

.card-button > * {


    /* margin: 30px; */
    width: 60%;

}

.card-button > * > p > a {
    text-decoration: none;
    

}

.card-button > .btn {
    border-radius: 30px;
    background-color: var(--blish-grey-button);
    /* margin: auto; */
}


.card-button > .btn-outline {
    border-radius: 30px;
    background-color: white ; 
    /* margin: auto; */
}


.card-button > .btn-outline > p > a {
    color: var(--blish-grey-button);
    font-size: large;
}

.card-button > .btn > p > a {
    color: white;
    font-size: large;
}

.card-button > .btn > p  {
    padding: 20px;
    text-align: center;
}
.card-button > .btn-outline > p  {
    padding: 30px;
    text-align: center;
}

.card-icons {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    margin: 10px;
    align-content: space-between;
}

.card-icons > *  {

    margin: 10px;
    border-radius: 10px;
    background-color: var(--blish-grey-button);
}

.card-icons > div > img {
    width: 25px;
    height: 25px;
    margin: 10px;
    filter : invert(99%) sepia(51%) saturate(2%) hue-rotate(118deg) brightness(108%) contrast(100%);

}

.card-photodesc {
    text-align: center;
    background-color: var(--mecha-blue);
    padding: 10px;
    border-radius: 10px;
}

.card-photodesc > img {
    width: 200px;
    height: 200px;
}

.card-photodesc > * {
    color: white;
}

nav {
    display: flex !important;
    /* justify-content: flex-start; */
    /* flex-direction: column; */
    justify-items: center;
    font-family: 'Comfortaa', cursive;
    color: white;
    background-color: var(--lightsoft-blue);
    
    
}


nav > .left {
    /* padding: 4px; */
    display: flex;
    flex-direction: row;
    justify-items: left;
    flex-wrap: wrap;
    /* width: 20%; */

    background-color: var(--darker-blue);
}

nav > .left > img {
    width: 49px;
    height: 33px;
    padding: 10px;
}

nav > .right {
    /* margin: auto; */
    /* padding: 4px; */
    display: flex;
    flex-direction: column;
    /* justify-items: right; */
    flex-wrap: wrap;
    /* width: 40%; */

    /* background-color: var(--darker-blue); */
}
nav > .center {
    /* padding: 4px; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    width:65%;
    
}

.left > * {
    margin: 24px;
}

.right > * {
    margin: 24px;
    
}

.center > ul {
    list-style: none;
}

.center > ul > li > a {
    color: white;
    text-decoration: none;
}

 .selected > a {
    font-weight: bold;
}



.right > ul > li {
    /* margin: 10px; */
}

.right > ul > * {
    padding: 10px;

}

.right > ul > .btn{
    border-radius: 30px;
    background-color: var(--darker-blue);
}
.right > ul > li > a {
    margin: auto;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.right > ul {
    list-style: none;
}


.nav-items {
    display: flex;

}

.nav-items > li {
    margin: 10px;
}

.form {
    font-family: "Comfortaa";
    display: flex;
     justify-content: center;
      width: 100%; 
      margin-top: 20px;
      text-transform: uppercase;
      flex-direction: column;
}

.form > .form-title > h1 {
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
}

.form-content {
    margin : auto ; 
}

.form-item > * {
    margin: 5px;
    padding: 5px;
}

.form-item > input  {
    background-color: white;
    width: 100%;
    height: 30px;
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: 0;

}

.form-item > textarea {
    background-color: white;
    width: 100%;
    height: 60px;
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: 0;
}

 .form-item >  select {
    background-color: white;
    width: 100%;
    height: 35px;
    color: black;
    border: 0;
    padding: 5px;
    border-radius: 5px;
}

.btn-submit {
    background-color: var(--blish-grey-button);
    font-family: "Comfortaa" , cursive;
    font-size: large;
    /* align-self: right; */
    float: right;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 15px;
    margin-top: 10px;
}


.form-item.flex{
    display: flex;
    flex-wrap: wrap;
}

.form-item.flex> div > input  {
    background-color: white;
    width: 100%;
    height: 30px;
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: 0;

}


label.checkbox{
    text-transform: none;
    font-size: large;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    margin : auto ; 
    padding : 30px ; 
  }
  
  input.visually-hidden:is(:focus, :focus-within) + label {
    border-color: #0044aa;
  }
  

  label.form-elem{
    margin: 20px;
    text-transform: none;
    color: white;
    font-size: large;
    border-radius: 10px;
    background-color: #535d6c;
    padding: 40px;
    width: 200px;
    height: 60px;
    display: block;
  }

  div.content > h1 {
    text-align: center;
  }

  div.content {
    background-color:  white;
    padding: 10px;
  }

  .form {
    padding: 10px;
  }

  .projectlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px;
  }

  .projectlist > .project-item {
    background-color: var(--dark-hover-blue) ; 
    width: 50%;
    border-radius: 20px;
    color: white;
  }

  .duration {
    font-size: small;
  }

  .project-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
    margin: 2em;
    justify-content: space-evenly;

  }

  .projectlist > .project-item > .project-intro >   .project-description >  h1 {

    text-align: center;
    font-size: x-large;


  }

  .project-intro {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
  }

  .project-intro > * {
    padding: 15px;
  }

  .projectlist > .project-item> .project-intro > .project-image > img {

    text-align: center;
    font-size: xx-large;
    margin: auto;
    align-self: center;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    

  }


.project-stack {
    display : flex ; 
    justify-content: space-evenly;

}
.project-stack > img {
    width: 64px;
    height: 64px;
    margin-left: 2em;
}

.project-stack > img.svg {
    filter: invert(95%) sepia(0%) saturate(0%) hue-rotate(227deg) brightness(106%) contrast(105%);

}

.project-controls > .btn {
    background-color: #1c1f24;
    padding: 20px;
    font-size: large;
    border-radius: 20px;
}

.project-controls > .btn > a {
    color: white ;
    text-decoration: none;
}


.blog {
    padding: 30px;
}

.blog > .blog-title > h1 {
    text-align: center;
    font-size: xx-large;
    margin: auto;
}


.blog > .blog-desc {
    display: flex;
    margin: 40px;

}

.blog-desc > .image > img {
    width: 400px;
    height: 400px;
    border-radius: 30px;
}

.blog-desc > div {
    margin-left: 30px ;
}

.blog-paragraph {
    margin : 30px;
}